<footer>
	<%if (event.organizers.length > 0 ) { %>
	<ul id="organizers">
		<% for(var i=0; i < event.organizers.length; i++) {%>
			<li class="organizer"><a href="<%= event.organizers[i].url %>"><img src="<%= basepath %>/<%= event.organizers[i].img %>" alt="<%= event.organizers[i].name %>" width="<%= event.organizers[i].width %>"></a></li>
		<% } %>
	</ul>
	<% } %>
	<p>Amical Wikimedia recull les adreces de correu electrònic per motius de logística. Si no s'indica el contrari al moment de la inscripció,
	la Secretaria de Transparència i Govern Obert les inclourà a la seva llista de contactes per a la difusió de la informació i promoció
	de les activitats que desenvolupa. Podeu exercir els drets d'accés a les dades personals, rectificació, supressió, oposició al tractament
	i sol·licitud de limitació davant la Secretaria de Transparència i Govern Obert (carrer Tapineria, 10, 08002 Barcelona)
	<a href="mailto:protecciodades.exteriors@gencat.cat">protecciodades.exteriors@gencat.cat</a>.</p>
<!--	<p>Per a qualsevol dubte, contacteu amb l'<a href="mailto:<%= contact.email %>">administrador web</a>.</p> -->
</footer>
