<footer>
	<%if (event.organizers.length > 0 ) { %>
	<ul id="organizers">
		<% for(var i=0; i < event.organizers.length; i++) {%>
			<li class="organizer"><a href="<%= event.organizers[i].url %>"><img src="<%= basepath %>/<%= event.organizers[i].img %>" alt="<%= event.organizers[i].name %>" width="<%= event.organizers[i].width %>"></a></li>
		<% } %>
	</ul>
	<% } %>
	<p>Es recullen les adreces per motius de logística. Després de l'esdeveniment s'esborraran totes les dades desades.</p>
	<p>Per a qualsevol dubte, contacteu amb l'<a href="mailto:<%= contact.mail %>">administrador web</a>.</p>
</footer>
