<html>
<head>
	<title><%= event.title %></title>
	<meta name="description" content="<%= event.description %>">
	<meta name="keywords" content="<%= event.keywords %>" />
	<link rel="stylesheet" href="<%= basepath %>/ol-3.1.1.css">
	<link rel="stylesheet" href="<%= basepath %>/main.css">
	<script src="<%= basepath %>/jquery-2.1.3.min.js"></script>
	<script src="<%= basepath %>/ol-3.1.1.js"></script>
	<script src="<%= basepath %>/main.js"></script>
</head>
